<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLabel">Añadir un profesor</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" [formGroup]="form">
				<div class="input-group mb-3">
					<span class="input-group-text">Username</span>
					<input
						type="text"
						class="form-control"
						aria-label="Sizing example input"
						aria-describedby="inputGroup-sizing-default"
						formControlName="username"
					/>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Email</span>
					<input
						type="text"
						class="form-control"
						formControlName="email"
						aria-label="Sizing example input"
						aria-describedby="inputGroup-sizing-default"
					/>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Contraseña</span>
					<input
						type="text"
						class="form-control"
						formControlName="password"
						aria-label="Sizing example input"
						aria-describedby="inputGroup-sizing-default"
					/>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Nombre</span>
					<input
						type="text"
						class="form-control"
						formControlName="name"
						aria-label="Sizing example input"
						aria-describedby="inputGroup-sizing-default"
					/>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Apellidos</span>
					<input
						type="text"
						class="form-control"
						formControlName="lastname"
						aria-label="Sizing example input"
						aria-describedby="inputGroup-sizing-default"
					/>
				</div>

				<hr />
			</div>
			<div class="modal-footer">
				<button #closeModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" (click)="saveNewAdmin()" [disabled]="canSaveNewAdmin()">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>
