<app-menu></app-menu>
<div class="main">
	<app-session></app-session>
	<div class="main-content">Bienvenido la aplicación para controlar el inicio de los ordenadores.</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Clases</h5>
						<p class="card-text">Aqui se listan todas lss clases que hay.</p>
						<a routerLink="/classrooms" class="btn btn-primary">IR</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Profesores</h5>
						<p class="card-text">Aqui se listan todos los profesores que hay.</p>
						<a routerLink="/teachers" class="btn btn-primary">IR</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
